$bar-gradient: linear-gradient(rgb(97, 9, 164), rgb(45, 11, 71));
$text-gradient: linear-gradient(rgb(97, 9, 164), rgb(45, 11, 71));
$background-color: rgb(27, 3, 48);

.card {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1rem;
    padding-right: 0;
    background: $bar-gradient;
    border-radius: 1rem;
    overflow-y: scroll;

}

.content {
    display: grid;
    text-align: justify;
    padding: 1rem;
}