// src/app/colors.scss

$primary: rgb(124, 2, 199);
$secondary: rgb(97, 9, 164);
$accent: rgb(254, 117, 255);
$background: rgb(27, 3, 48);
$text: rgb(255, 255, 255);


$button-gradient: linear-gradient(rgb(124, 2, 199), rgb(192, 87, 239), rgb(254, 117, 255));
