@import '@/app/colors.scss';

.donut-container {
    position: absolute; /* Для позиционирования */
    top: 0; /* Начальное положение сверху */
    left: 0; /* Начальное положение слева */
    width: 100%; /* Занимает всю ширину родителя */
    height: 100%; /* Занимает всю высоту родителя */
    display: flex; /* Для центрирования содержимого */
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
}

.donut-path {
    transition: all 0.5s ease; /* Плавный переход */
    cursor: pointer; /* Указатель при наведении */
    position: absolute; /* Для позиционирования */
    top: 0; /* Начальное положение сверху */
    left: 0; /* Начальное положение слева */
    transform: translate(-50%, -50%); /* Центрирование */
}

.donut-path:hover {
    transform: translate(0, 0); /* Поднимаем пончик при наведении */
}

.donut-path.expanded {
    width: 300px; /* Увеличенный размер */
    height: 300px; /* Увеличенный размер */
    top: 50%; /* Центрирование по вертикали */
    left: 50%; /* Центрирование по горизонтали */
    transform: translate(-50%, -50%); /* Центрирование */
}

.donut-path.expanded:hover {
    
}

.opacity-div {
    opacity: 0; /* Начальное значение прозрачности */
    transition: opacity 1s; /* Плавный переход для прозрачности */
}


.opacity-div.expanded {
    opacity: 1; /* Конечное значение прозрачности */
    transition: opacity 1s; /* Плавный переход для прозрачности */
    position: absolute; /* Для позиционирования */
    top: 50%; /* Центрирование по вертикали */
    left: 50%; /* Центрирование по горизонтали */
    transform: translate(-50%, -50%); /* Центрирование */
    width: 100%; /* Занимает всю ширину родителя */
    height: 100%; /* Занимает всю высоту родителя */
    background-color: $background; /* Пример фона с прозрачностью */
}
